@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-pagination .custom-bullet {
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background-color: #d1d5db;
  display: inline-block;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #7f1d1d;
}